.clients {
    margin-top: 120px;
    margin-bottom: 120px;
    h3 {
        font-size: 19px;
        font-family: "FuturaBk", Arial, sans-serif;
        color: #e6e7e8;
    }

    .card {
        border: none;
    }

    img {
        width: 100%;
    }
}