.help-me-bg {
    background-color: #FBFBFB;
}
.help-me {
    h1 {
        font-family: 'TheFontBold', Arial, sans-serif;
        font-size: 11px;
    }

    .btn-red-help {
        font-size: 11px;

        b{
            font-size: 11px !important; 
        }
    }

    .btn-white {
        font-size: 14px;
    }

    .card {
        background-color: #fff;
        border-radius: 35px;
        border: solid 4px #fff;
        -webkit-box-shadow: 0px 1px 8px -4px #000000;
        box-shadow: 0px 1px 8px -4px #000000;

        .card-body {
            padding: 7px;
        }

        label{
            font-family: 'TheFontBold', Arial, sans-serif;
            font-size: 12px;
            color: #000;
            font-weight: bold;
        }
    }
}