.login-md {
    .modal-dialog {
        margin: 0px;
        padding: 0px;
        height: 100%;
        .modal-content {
            .modal-header {
                z-index: 9999;
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;
                border-bottom: none;
                border-top-left-radius: calc(0.3rem - 1px);
                border-top-right-radius: calc(0.3rem - 1px);
                margin: 0px;
                .btn-close {
                    background-color: white;
                    padding: 20px;
                    border-radius: 45px;
                    opacity: initial;
                }
            }

            .modal-body {
                padding: 0px;
            }

            .form {

                margin: auto;

                label {
                    font-size: 19px;
                    font-family: "FuturaBk", Arial, sans-serif;
                }
                .reset-password {
                    label {
                        font-family: "TheFontBold", Arial, sans-serif;
                        text-align: center;
                        font-size: 16px;

                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                    
                }

                .form-group { 
                    .form-control {
                        background-color: #EFEFEF;
                        border: none;
                        padding: 5px;
                        border-radius: 35px;
                        -webkit-box-shadow: -5px 4px 9px -4px #00000029;
                        box-shadow: -5px 4px 9px -4px #00000029;
                    }
                }
            }
        }

        .content {

            .container {
                margin: 20% 0px;

                .logo{
                    display: block;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    width: 260px;
                }
            }
            .card {
                border-radius: 35px;
                width: 100%;

                label{
                        font-size: 15px;
                }

                .btn-login {
                    bottom: -25px;
                    position: absolute;
                }
            }
            .card-body {
                padding: 20px;
            }
        }
    }
    .login-bg {
        background: rgba(0, 0, 0, 0);
        background-image: url(https://luan1schons.github.io/landingpage-foodsmachine-mobile/assets/imgs/bg-login.png) !important;
    }
}
