.notebook-art {
    margin-top: 150px;
    .notebook-bg {
        img {
            width: 350px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
        }
    }

    .container {

        .title {
            margin: 20px;

            h1 {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: #{"min(27px, 6vw)"};
            }
    
            h2 {
                font-family: "TheFontBold", Arial, sans-serif;
                font-size: #{"min(27px, 5.2vw)"};
            }

            h3 {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: #{"min(25px, 4.5vw)"};
            }
        }

        .btn {
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: #{"min(17px, 3.2vw)"};
            width: 100%;

            b{
                font-family: "TheFontBold", Arial, sans-serif;
            }
        }
    }

}