.show-app {
    margin-top: 10rem;

    .phone {
        img {
            width: 100vw;
            height: 100vw;
        }
    }
    .container {
        .title {
            h3 {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: #{"min(19px, 4vw)"};
                letter-spacing: 0px;
                b {
                    font-family: "TheFontBold", Arial, sans-serif;
                    font-size: #{"min(19px, 4vw)"};
                }
            }
            h2 {
                font-size: #{"min(30px, 6vw)"};
                font-family: "TheFontBold", Arial, sans-serif;
                span {
                    font-family: "FuturaBk", Arial, sans-serif;
                    font-size: #{"min(19px, 4vw)"};
                    font-weight: bold;
                }
            }
            .desc {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: #{"min(19px, 4vw)"};

                b {
                    font-family: "TheFontBold", Arial, sans-serif;
                    color: #fe1846;
                }

                span {
                    font-family: "TheFontBold", Arial, sans-serif;
                    color: #0197a6;
                }
            }
        }
    }
}
